selenium
bs4
pandas
webdriver_manager.firefox 
skimage.measure
cv2
sys
operator
argparse
math
urllib
skimage
matplotlib
numpy
PIL
skimage
imutils
csv
collections
selenium.webdriver
selenium.webdriver.common.by 
selenium.webdriver.common.keys
selenium.webdriver.firefox.options 
selenium.webdriver.support
selenium.webdriver.support.wait
